@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    /* border: 1px solid black; */
}

body {
    background-color: rgb(244, 110, 30);
}

.logo_header {
    display: flex;
    width: auto;
    height: 130px;
    justify-content: right;
    padding: 30px;
}

.logo_jiam {
    width: 70vw;
    display: block;
    max-width: 1200px;
    min-width: 450px;
    margin: 30px auto 50px auto;
}

.logos_cima {
    max-width: 100%;
    display: block;
    padding: 20px;
    margin: auto;
}

.logos_fileira_cima {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logos_fileira_cima div {
    flex: 1 1 50px;
}   

.baixo {
    padding: 0 80px;
}

.grafismo {
    position: absolute;
    top: -10px;
    z-index: -1;
    left: 13vw;
    height: 110vh;
}

@media (max-width: 900px) {
    .baixo {
        padding: 0;
    }
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 13px;
    text-align: center;
    margin: 30px;
}

.contato {
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.whatsapp {
    font-weight: bolder;
}

button {
    width: 210px;
    height: 45px;
    border: none;
    color: #F36E1D;
    background-color: #f6cb45;
    border-radius: 100px;
    margin-bottom: 10px;
    font-size: 16px;
}

.entrar {
    position: absolute;
    right: 6vw;
}

footer a {
    font-weight: bolder;
    color: #f6cb45;
}

@media(max-width: 1000px) {
    .logo_header {
        justify-content: center;
    }

    .entrar {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 70px auto;
        padding-bottom: 45px;
    }
}