@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgb(244, 110, 30);
}

.logo_header {
    display: flex;
    width: auto;
    height: 130px;
    justify-content: right;
    padding: 30px;
}

.logos_cima {
    max-width: 100%;
    display: block;
}

.logo_jiam {
    width: 70vw;
    max-width: 1200px;
    min-width: 450px;
    margin: 30px auto 50px auto;
    display: block;
}

.grafismo {
    position: absolute;
    top: -10px;
    z-index: -1;
    left: 100px;
    height: 110vh;
}