@charset "UTF-8";

* {
    margin: 0;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header a {
    color: white;
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 10px;
    padding: 10px;
}

.titulo {
    text-align: center;
    margin: 100px 0 30px 0;
    font-size: 2rem;
}

.imagens {
    max-width: 800px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

.imagens > div {
    flex: 1 1 200px;
    margin: 10px;
}