@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: white;
}

.videos_cima {
    display: flex;
    justify-content: center;
}

.videos_baixo {
    display: flex;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

.completo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

body > .curso {
    display: block;
    margin: auto;
}

.voltar {
    display: flex;
    justify-content: center;
    margin: 20px;
}