@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: white;
}

a {
    text-align: center;
}

body {
    background-color: black;
}

.voltar {
    margin: auto;
}

h2 {
    text-align: center;
    color: white;
}